#currentUsers-and-Post-content .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    margin-top: 40px;
}

#recents-and-popular-content .container {
    display: grid;
    grid-template-columns: 100px auto;
    justify-items: start;
}


#recents, #popular {
    /* Adjust properties as needed */
    margin-right: 10px; /* Add space between elements */
}

#sidebar-content .container {
    display: grid;
    grid-template-columns: auto;
    justify-items: start;
    justify-items: start;
    margin-top: 40px;
    grid-gap: 20px;
    width: 150px; /* limit the width of the content */
}

#home-layout-grid-authenticated{
    display: grid;
    grid-template-columns: 150px 900px;
  
    margin-top: 40px;
    
}
