

/* .navigation {
    display: grid;
    grid-template-columns: 350px 100px 100px;
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%); 
    width: 80%;
    justify-items: start;
 
} */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
